/* _global.css */

/* include padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

body {
    /* size */
    width: 100%;
    max-width: 960px;
    /* position - horizontally centered */
    margin: 0 auto;
    /* font */
    font-family: sans-serif;
    text-align: center;
    /* background */
    background-image: url('../../assets/img/white-bricks-small.jpg');
    background-size: cover;
    background-attachment: fixed;

    /* higher resolution background image for larger screens */
    @mixin atMedium {
        background-image: url('../../assets/img/white-bricks.jpg');
    }
}
