/* _global.css */

/* include padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #8C97A2;
    background-image: url('../../assets/img/tile.jpg');
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: repeat-x;

}
