.navbar {
    /* size */
    width: 100%;
    max-width: 960px;
    height: 50px;
    /* border */
    border-left: 2px solid $myGrey;
    border-right: 2px solid $myGrey;
}

.header {
    /* size */
    min-height: 50vh;
    max-height: 100vh;
    /* spacing for navbar */
    margin-top: 50px;
    /* background */
    background-image: url('../../assets/img/stairs-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    /* higher resolution background image for larger screens */
    @mixin atMedium {
        background-image: url('../../assets/img/stairs-medium.jpg');
    }
    
    & .content {
        -webkit-backface-visibility: hidden;
    }
}
