.shine {
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;

        transform: rotate(30deg);

        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%);

        animation: shine 10s linear infinite;
    }
}

@keyframes shine {

    0%,
    25%,
    50%,
    75%,
    100% {
        top: -200%;
        left: -200%;
        width: 200%;
        height: 200%;
        opacity: 0;
    }

    12.5%,
    62.5% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
}
